<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <h1>Login</h1>
        </div>

        <!-- Login Form -->
        <form>
            <input  type="email" id="email" class="fadeIn second"  name="email" placeholder="Correo electronico" autofocus>
            <input   type="password" id="password" class="fadeIn third"   name="password" placeholder="Contraseña">
            <input type="submit" class="fadeIn fourth" value="Ingresa">
            <div class="form-group fadeIn">
                <p class="text-center">¿No tienes una cuenta? <a routerLink="/registro" id="signup">Regístrarse</a></p>
            </div>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter" class="fadeIn">
            <a class="underlineHover" href="#">Olvidó su contraseña?</a>
        </div>

    </div>
</div>