<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light color">
  <a routerLink="/"><h2 style=" color: white; margin-right: 40px;" ><strong>Proyecto X</strong></h2></a>
  
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
          
              <li class="nav-item ">
                  <a   class="nav-link" routerLink="/" routerLinkActive='active'><i class="fa fa-home" aria-hidden="true"></i>
                      Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/practica" routerLinkActive='active'><i class="fas fa-chart-line"></i>
                      Cuentas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/metronomo" routerLinkActive='active'><i class="fas fa-cash-register"></i> Caja</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/afinador" routerLinkActive='active'><i class="fas fa-hand-holding-usd"></i> Pagos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/afinador" routerLinkActive='active'><i class="fas fa-chart-pie"></i> Informes</a>
            </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          
              <li class="nav-item ">
                  <a class="nav-link" routerLink="/login" routerLinkActive='active'><i class="fas fa-sign-in-alt"></i> log In</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/registro" routerLinkActive='active'><i class="fas fa-user-plus"></i> registrate</a>
              </li>
          
              
          
      </ul>
  </div>
</nav>